In [1]:
def check_type(variable):
    if isinstance(variable, int):
        return "Integer"
    elif isinstance(variable, float):
        return "Float"
    else:
        return "Neither Integer nor Float"

# Test cases
print(check_type(10))    # Integer
print(check_type(10.5))  # Float
print(check_type("10"))  # Neither Integer nor Float

Integer
Float
Neither Integer nor Float

In [2]:
def check_data_type(user_input):
    if isinstance(user_input, str):
        return "String"
    elif isinstance(user_input, list):
        return "List"
    elif isinstance(user_input, tuple):
        return "Tuple"
    elif isinstance(user_input, dict):
        return "Dictionary"
    else:
        return "Unknown type"

# Test cases
print(check_data_type("Hello"))         # String
print(check_data_type([1, 2, 3]))       # List
print(check_data_type((1, 2, 3)))       # Tuple
print(check_data_type({"a": 1, "b": 2}))# Dictionary

String
List
Tuple
Dictionary

In [3]:
def convert_type(value):
    if isinstance(value, int):
        return float(value)
    elif isinstance(value, float):
        return int(value)
    else:
        return "Invalid input"

# Test cases
print(convert_type(10))   # 10.0
print(convert_type(10.5)) # 10
print(convert_type("10")) # Invalid input

10.0
10
Invalid input

In [4]:
def compare_numbers(a, b):
    if a > b:
        return "a is greater than b"
    elif a < b:
        return "a is less than b"
    else:
        return "a is equal to b"

# Test cases
print(compare_numbers(5, 10))  # a is less than b
print(compare_numbers(10, 5))  # a is greater than b
print(compare_numbers(5, 5))   # a is equal to b

a is less than b
a is greater than b
a is equal to b

In [5]:
def check_string(s):
    if s.isalnum():
        if s.isdigit():
            return "Contains only digits"
        elif s.isalpha():
            return "Contains only letters"
        else:
            return "Alphanumeric"
    else:
        return "Contains special characters"

# Test cases
print(check_string("12345"))      # Contains only digits
print(check_string("abcde"))      # Contains only letters
print(check_string("abc123"))     # Alphanumeric
print(check_string("abc123!"))    # Contains special characters

Contains only digits
Contains only letters
Alphanumeric
Contains special characters

In [6]:
#List

In [7]:
numbers = list(range(1, 11))
squares = [x**2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
def list_stats(numbers):
    total = sum(numbers)
    average = total / len(numbers)
    maximum = max(numbers)
    return total, average, maximum

# Test cases
print(list_stats([1, 2, 3, 4, 5]))  # (15, 3.0, 5)

(15, 3.0, 5)

In [9]:
def reverse_list(lst):
    return lst[::-1]

# Test cases
print(reverse_list([1, 2, 3, 4, 5]))  # [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [10]:
def list_intersection_union(list1, list2):
    intersection = list(set(list1) & set(list2))
    union = list(set(list1) | set(list2))
    return intersection, union

# Test cases
print(list_intersection_union([1, 2, 3], [2, 3, 4]))  # ([2, 3], [1, 2, 3, 4])

([2, 3], [1, 2, 3, 4])

In [11]:
students = [("Alice", 90), ("Bob", 75), ("Charlie", 85), ("David", 60)]
high_achievers = [name for name, grade in students if grade > 80]
print(high_achievers)

['Alice', 'Charlie']

In [13]:
#Tuples

In [14]:
import functools
import operator

numbers = (1, 2, 3, 4, 5)
product = functools.reduce(operator.mul, numbers, 1)
print(product)

120

In [15]:
def concatenate_strings(strings):
    return ''.join(strings)

# Test cases
print(concatenate_strings(("Hello", " ", "World", "!")))  # Hello World!

Hello World!

In [16]:
def swap_first_last(tpl):
    if len(tpl) < 2:
        return tpl
    return (tpl[-1],) + tpl[1:-1] + (tpl[0],)

# Test cases
print(swap_first_last((1, 2, 3, 4, 5)))  # (5, 2, 3, 4, 1)

(5, 2, 3, 4, 1)

In [17]:
def concatenate_tuples(tpl1, tpl2):
    return tpl1 + tpl2

# Test cases
print(concatenate_tuples((1, 2, 3), (4, 5, 6)))  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [18]:
students = (("Alice", 90), ("Bob", 95), ("Charlie", 85), ("David", 92))
high_achievers = [name for name, grade in students if grade > 90]
print(high_achievers)

['Bob', 'David']

In [21]:
#Dictionaries

In [22]:
students = {"Alice": 90, "Bob": 75, "Charlie": 85, "David": 95}
high_achievers = [name for name, grade in students.items() if grade > 85]
print(high_achievers)

['Alice', 'David']

In [23]:
def sum_values(dct):
    return sum(dct.values())

# Test cases
print(sum_values({"a": 1, "b": 2, "c": 3}))  # 6

6

In [24]:
def merge_dictionaries(dct1, dct2):
    merged = dct1.copy()
    merged.update(dct2)
    return merged

# Test cases
print(merge_dictionaries({"a": 1, "b": 2}, {"c": 3, "d": 4}))  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [25]:
students = {"Alice": 90, "Bob": 75, "Charlie": 85, "David": 95}
average_grade = sum(students.values()) / len(students)
print(average_grade)

86.25

In [26]:
word_frequencies = {"hello": 3, "world": 5, "python": 2, "code": 5}
most_frequent = max(word_frequencies, key=word_frequencies.get)
print(most_frequent)

world

In [28]:
#Sets

In [29]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
union = set1 | set2
intersection = set1 & set2
print(union)
print(intersection)

{1, 2, 3, 4}
{2, 3}

In [30]:
def set_min_max(s):
    return min(s), max(s)

# Test cases
print(set_min_max({1, 2, 3, 4, 5}))  # (1, 5)

(1, 5)

In [31]:
def are_disjoint(set1, set2):
    return set1.isdisjoint(set2)

# Test cases
print(are_disjoint({1, 2, 3}, {4, 5, 6}))  # True
print(are_disjoint({1, 2, 3}, {3, 4, 5}))  # False

True
False

In [32]:
def set_difference(set1, set2):
    return set1 - set2

# Test cases
print(set_difference({1, 2, 3}, {2, 3, 4}))  # {1}

{1}

In [33]:
words = {"apple", "banana", "cherry", "apple", "date", "banana"}
unique_words = set(words)
print(unique_words)

{'date', 'cherry', 'apple', 'banana'}